.cb-image-grid {
  background-color: #333;
  color: white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.cb-image-grid--type-one .cb-image-grid__container {
  margin: 0 auto;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 60px;
  padding-top: 60px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__images-container {
  column-gap: 1rem;
  columns: 2 200px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image {
  position: relative;
  overflow: hidden;
  width: 150px;
  margin: 0 1rem 1rem 0;
  display: inline-block;
  width: 100%;
  max-height: 90vh;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:hover img {
  transform: scale(1.075);
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image img {
  border-radius: 4px;
  overflow: hidden;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.6s;
  will-change: transform;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(1) {
  height: 304px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(2) {
  height: 331px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(3) {
  height: 501px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(4) {
  height: 440px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(5) {
  height: 475px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(6) {
  height: 477px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(7) {
  height: 323px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(8) {
  height: 564px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(9) {
  height: 518px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(10) {
  height: 485px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(11) {
  height: 252px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(12) {
  height: 538px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(13) {
  height: 540px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(14) {
  height: 471px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(15) {
  height: 289px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(16) {
  height: 209px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(17) {
  height: 326px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(18) {
  height: 228px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(19) {
  height: 487px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(20) {
  height: 587px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(21) {
  height: 450px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(22) {
  height: 378px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(23) {
  height: 396px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(24) {
  height: 509px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(25) {
  height: 384px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(26) {
  height: 336px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(27) {
  height: 598px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(28) {
  height: 524px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(29) {
  height: 341px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(30) {
  height: 287px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(31) {
  height: 549px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(32) {
  height: 210px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(33) {
  height: 568px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(34) {
  height: 429px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(35) {
  height: 456px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(36) {
  height: 580px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(37) {
  height: 441px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(38) {
  height: 466px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(39) {
  height: 215px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(40) {
  height: 297px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(41) {
  height: 256px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(42) {
  height: 531px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(43) {
  height: 215px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(44) {
  height: 422px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(45) {
  height: 226px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(46) {
  height: 243px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(47) {
  height: 422px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(48) {
  height: 586px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(49) {
  height: 570px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(50) {
  height: 599px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(51) {
  height: 446px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(52) {
  height: 222px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(53) {
  height: 380px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(54) {
  height: 429px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(55) {
  height: 245px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(56) {
  height: 293px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(57) {
  height: 335px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(58) {
  height: 566px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(59) {
  height: 394px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(60) {
  height: 592px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(61) {
  height: 588px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(62) {
  height: 320px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(63) {
  height: 453px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(64) {
  height: 446px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(65) {
  height: 528px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(66) {
  height: 201px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(67) {
  height: 407px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(68) {
  height: 270px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(69) {
  height: 346px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(70) {
  height: 510px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(71) {
  height: 389px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(72) {
  height: 360px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(73) {
  height: 307px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(74) {
  height: 215px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(75) {
  height: 530px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(76) {
  height: 291px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(77) {
  height: 416px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(78) {
  height: 523px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(79) {
  height: 242px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(80) {
  height: 537px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(81) {
  height: 456px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(82) {
  height: 435px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(83) {
  height: 597px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(84) {
  height: 476px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(85) {
  height: 550px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(86) {
  height: 551px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(87) {
  height: 359px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(88) {
  height: 579px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(89) {
  height: 309px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(90) {
  height: 504px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(91) {
  height: 581px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(92) {
  height: 286px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(93) {
  height: 354px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(94) {
  height: 463px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(95) {
  height: 316px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(96) {
  height: 560px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(97) {
  height: 201px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(98) {
  height: 390px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(99) {
  height: 385px;
}
.cb-image-grid--type-one .cb-image-grid__container .cb-image-grid__image:nth-child(100) {
  height: 452px;
}

[lightbox-toggle] {
  cursor: zoom-in;
}
[lightbox-toggle]:after {
  position: absolute;
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="white" stroke="black" stroke-opacity="0.25" stroke-width="0.25" d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12zm1-7h2a1 1 0 0 1 0 2h-2v2a1 1 0 0 1-2 0v-2H7a1 1 0 0 1 0-2h2V7a1 1 0 1 1 2 0v2z"/></svg>');
  height: 32px;
  width: 32px;
  bottom: 0;
  right: 0;
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.2s;
}
[lightbox-toggle]:hover:after {
  opacity: 1;
  filter: drop-shadow(2px 4px 6px black);
}

.c-lightbox {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  pointer-events: none;
  position: fixed;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9000000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
}
.c-lightbox.open {
  opacity: 1;
  pointer-events: all;
}
.c-lightbox .c-lightbox__container {
  width: 100%;
  height: 100%;
}
.c-lightbox .c-lightbox__close {
  z-index: 999999;
  position: absolute;
  cursor: pointer;
  top: 1vh;
  right: 1vw;
  font-size: 30px;
  padding: 20px;
  color: white;
}
.c-lightbox .c-lightbox__close:hover {
  color: red;
}
.c-lightbox .swiper-container {
  width: 100%;
  height: 100%;
}
.c-lightbox .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-lightbox .swiper-pagination {
  color: white;
}
.c-lightbox .swiper-button-next,
.c-lightbox .swiper-button-prev {
  color: white;
}
.c-lightbox .swiper-button-next:hover,
.c-lightbox .swiper-button-prev:hover {
  color: red;
}
.c-lightbox .swiper-button-next:after,
.c-lightbox .swiper-button-prev:after {
  font-size: 30px;
}
.c-lightbox .c-lightbox__image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 75%;
  width: 75%;
  text-align: center;
  cursor: zoom-in;
}
.c-lightbox .c-lightbox__image img {
  width: auto;
  height: auto;
  max-height: 90vh;
  max-width: 90vw;
}

/*# sourceMappingURL=ligthBox.css.map */
