.productInfo {
  width: 100%;
  .container {
    display: flex;
    justify-content: space-between;
  }

  &_left {
    width: 40.2%;
  }

  &_right {
    width: 57.2%;

    &_title {
      color: #292C33;
      font-size: 30px;
      font-weight: 300;
      letter-spacing: -0.42px;
      line-height: 42px;
    }
    &_code {
      margin-top: 10px;
      color: #5C6166;
      font-size: 12px;
      letter-spacing: -0.4px;
      line-height: 22px;
    }

    &_descr {
      color: #5C6166;
      font-size: 14px;
      letter-spacing: -0.4px;
      line-height: 22px;
      margin-top: 20px;
    }

    &_buy {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0;
      margin: 30px 0;
      border-top: 1px solid #D7DAE0;
      border-bottom: 1px solid #D7DAE0;

      &_price {
        .cards-item-wrap-info-wrap-old {
          margin: 0 0 2px 0;
        }
      }

      &_control {
        display: flex;
        align-items: center;

        &-quant {
          display: flex;
          align-items: center;
          span {
            margin-right: 2px;
          }

          &-btns {
            display: flex;
            align-items: center;
            margin: 0 20px;


            &-btn {
              height: 50px;
              width: 50px;
              border: 1px solid #D7DAE0;
              background-color: #FFFFFF;
              box-shadow: 0 3px 3px 0 rgba(89,108,128,0.04);
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;

              &:last-child {
                border-left: none;
              }
            }
          }
        }
      }
    }

    &_delivery {
      display: flex;
      justify-content: space-between;

      &_half {
        width: 50%;
        &_title {
          color: #292C33;
          font-size: 18px;
          letter-spacing: -0.4px;
          line-height: 26px;
        }

        &_item {
          display: flex;
          align-items: center;
          margin-top: 14px;
          //min-width: 320px;

          &_wrap {
            margin-left: 20px;

            &_title {
              color: #292C33;
              font-size: 14px;
              font-weight: 500;
              letter-spacing: -0.4px;
              line-height: 20px;
            }

            &_bottom {
              display: flex;
              align-items: center;

              &_left {
                color: #5C6166;
                font-size: 12px;
                letter-spacing: -0.4px;
                line-height: 18px;
              }

              &_border {
                margin: 0 8px;
                height: 14px;
                width: 1px;
                background-color: #D9D9D9;
              }

              &_right {
                color: #008C5E;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: -0.4px;
                line-height: 18px;
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: 930px) {
  .productInfo {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &_left {
      width: 100%;
    }

    &_right {
      margin-top: 30px;
      width: 100%;
    }
  }
}



@media (max-width: 556px) {
  .productInfo {

    &_right {

      &_delivery {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        &_half {
          width: 100%;
          &:last-child {
            margin-top: 20px;
          }
        }
      }
    }
  }
}


@media (max-width: 505px) {
  .productInfo {
    &_right {
      &_buy {
        flex-direction: column-reverse;

        &_price {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          margin-top: 20px;
        }
      }

    }
  }
}

@media (max-width: 430px) {
  .productInfo {
    &_right {
      &_buy {
        &_control {
          display: flex;
          flex-direction: column;
          align-items: center;

          &-quant {
            display: flex;
            align-items: center;
            font-size: 30px;
            span {
              margin-right: 2px;
            }

            &-btns {
              display: flex;
              align-items: center;
              margin: 20px 0;
              column-gap: 20px;


              &-btn {
                height: 50px;
                width: 50px;
                border: 1px solid #D7DAE0;
                background-color: #FFFFFF;
                box-shadow: 0 3px 3px 0 rgba(89,108,128,0.04);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &:last-child {
                  border-left: 1px solid #D7DAE0;
                }
              }
            }
          }
        }
      }

    }
  }
}